.accordion-button::after {
    flex-shrink: 0;
    margin-left: auto;
    content: "";
    background-image: none !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}